*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FD6001;
    padding: 16px;
    text-align: center;
    font-size: 10px;
    color: white;
    text-decoration-line: underline;
    border: 10px;
}

.info{
    display: inline;
}

