*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

#contenedor {
    margin: auto;
    margin-bottom: 20px;
    
}

header {
    background: #FD6001;
    height: 70px;
    font-size: 10px;
    color: white;
    text-decoration-line: underline;
}

.subtitulo {
    text-align: center;
    
}

.alemania {
    float: right;
}

.rayas {
    float: right;
}

.input{
    float: left;
    height: 40px;
    margin-top: 15px;
    margin: 15px;
}

nav{
    background: #E5E5E5;
}

.popular {
    background: #E5E5E5;
}

.info{
    display: inline;
}

aside{
    width: 300px;
    float: right;
    margin-top: -350px;
    text-align: center;   
}



